<a href="https://colab.research.google.com/github/shila121/projects/blob/main/a_ensembleLearning_stacking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# loading the data
data = pd.read_csv('data_cleaned.csv')

print(data.shape)

# visualise the data
print(data.head())

(891, 25)
   Survived   Age     Fare  ...  Embarked_C  Embarked_Q  Embarked_S
0         0  22.0   7.2500  ...           0           0           1
1         1  38.0  71.2833  ...           1           0           0
2         1  26.0   7.9250  ...           0           0           1
3         1  35.0  53.1000  ...           0           0           1
4         0  35.0   8.0500  ...           0           0           1

[5 rows x 25 columns]

In [3]:
# check if missing values are  present in the data
print(data.isnull().sum())

Survived      0
Age           0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
Parch_0       0
Parch_1       0
Parch_2       0
Parch_3       0
Parch_4       0
Parch_5       0
Parch_6       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [4]:
# separarting independent and dependent variable
y = data['Survived']
X = data.drop(['Survived'],axis = 1)

In [5]:
# import train_test
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(X,y,random_state = 9,stratify=y)
print(train_x.shape,test_x.shape,test_y.shape,test_y.shape)

(668, 24) (223, 24) (223,) (223,)

In [6]:
# import Base ,odel

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [7]:
# model traing and prediction

def model_prediction(model,train_x,train_y,test_x):
  model.fit(train_x,train_y)
  pred_train=model.predict(train_x)
  pred_test=model.predict(test_x)
  return pred_train,pred_test

In [8]:
# model 1 = DecisionTreeClassifier for decision trees ,feature scaling is not important
DT = DecisionTreeClassifier(random_state = 101)
M1_train,M1_test = model_prediction(DT,train_x,train_y,test_x)

In [9]:
# feature scaling for other models
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X=train_x)

train_x = scaler.transform(train_x)
test_x = scaler.transform(test_x)

In [11]:
# model 2 =  for LogisticRegression  ,feature scaling is important
LR = LogisticRegression(random_state = 101)
M2_train,M2_test = model_prediction(LR,train_x,train_y,test_x)

In [13]:
# model 3 =  for KNeighborsClassifier  ,feature scaling is important
knn = KNeighborsClassifier()
M3_train,M3_test = model_prediction(knn,train_x,train_y,test_x)

In [14]:
# creating new train dataframe
train_prediction = {
    'DT':M1_train,
    'LR':M2_train,
    'knn':M3_train
}

train_predictions = pd.DataFrame(train_prediction)
train_predictions.head()

   DT  LR  knn
0   1   1    0
1   1   1    1
2   1   1    0
3   0   1    1
4   0   0    0

In [15]:
# creating new test dataframe
test_prediction = {
    'DT':M1_test,
    'LR':M2_test,
    'knn':M3_test
}

test_predictions = pd.DataFrame(test_prediction)
test_predictions.head()

   DT  LR  knn
0   0   0    0
1   1   1    1
2   0   0    0
3   1   0    0
4   0   0    0

In [16]:
# Stacker model
model = LogisticRegression()
model.fit(train_predictions,train_y)
model.score(test_predictions,test_y)

0.726457399103139